<!doctype html>
<html>
<head>
    <title>Deal Masti Deal</title>
</head>
<body>
    <h1>Welcome to DealMastiDeal.com</h1>

    <img align="middle" src="static/UnderConstruction.png" />
</body>
</html>