<!DOCTYPE html>
<html lang="en">
<body>

<!-- Header -->
<include('../../layouts/app-header/template.marko')>
    <@title>
        Search Unique eBay Deals, Amazon Deals, Black Friday Deals, Upto 75% Off | DealMastiDeal.com
    </@title>

    <@description>
        <meta name="description" content="Search Unique eBay Deals, Amazon Deals, Black Friday Deals, Upto 75% Off | DealMastiDeal.com">
    </@description>
</include>

<!-- Page Content -->
<div class="container">
            
        <!-- Navigation -->
        <include('../../layouts/navigation/template.marko', {currentPage: 'search'})/>
                        
      <!-- Page Features -->
        
            <if(input.error)>
                <div class="alert alert-danger text-center" role="alert">${input.error}</div>
            </if>
            <else>
                <div class="row text-center" id="dealsContent">
                    <for(item in input.items)>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card">
                                <div class="text-center"> <img class="card-img-top" src="${item.imageUrl}" alt="" class="rounded img-responsive" style="width:70%; important!"> </div>
                                <div class="card-body">
                                <h4 class="card-title">$${item.price}</h4>
                                <s class="card-title">${item.originalPrice}</s>
                                <p class="card-text">${item.title}</p>
                                </div>
                                <div class="card-footer">
                                <a href="/${item.encodedtitle}/${item.id}" class="btn btn-primary">Get Deal</a>
                                </div>
                            </div>
                        </div>
                    </for> 
                </div>
            </else>       

        
      <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<include('../../layouts/app-footer/template.marko')/>

</body>

</html>